# TITLE: 3MTT WEEK 4 ASSIGNMENT
# QUESTION: BUILD A PYTHON PROGRAM UTILIZING DATA STRUCTURES, CONDITIONAL STATEMENTS, FUNCTIONS TO SOLVE A DATA-RELATED TASK.
# COURSE: DATA ANALYSIS AND VIZUALIZATOIN

# DATA STRUCTURE 1 (LISTS)

In [1]:
# Create a new list
lst = ['Aliyu', 'Habib', 'Fatima', 'Abubakar', 'Zainab', 'Ado']

In [2]:
lst

['Aliyu', 'Habib', 'Fatima', 'Abubakar', 'Zainab', 'Ado']

In [3]:
# Add an element
lst[0] = 'Auwal'

In [4]:
lst

['Auwal', 'Habib', 'Fatima', 'Abubakar', 'Zainab', 'Ado']

In [5]:
# Insert an element
lst.insert(2, 'Maryam')

In [6]:
lst

['Auwal', 'Habib', 'Maryam', 'Fatima', 'Abubakar', 'Zainab', 'Ado']

In [7]:
# Adding an element - Append
lst.append('Kaduna')

In [8]:
lst

['Auwal', 'Habib', 'Maryam', 'Fatima', 'Abubakar', 'Zainab', 'Ado', 'Kaduna']

In [9]:
#Remove an element
lst.remove('Kaduna')

In [10]:
lst

['Auwal', 'Habib', 'Maryam', 'Fatima', 'Abubakar', 'Zainab', 'Ado']

In [11]:
# Pop function
pop_lst = lst.pop()

In [12]:
lst

['Auwal', 'Habib', 'Maryam', 'Fatima', 'Abubakar', 'Zainab']

In [13]:
pop_lst

'Ado'

In [14]:
# Pop with an index
pop_Abubakar = lst.pop(4)

In [15]:
pop_Abubakar

'Abubakar'

In [16]:
lst

['Auwal', 'Habib', 'Maryam', 'Fatima', 'Zainab']

# WORKING WITH LIST

In [17]:
# Create a for loop
for name in lst:
    print(name)

Auwal
Habib
Maryam
Fatima
Zainab

In [18]:
# Introducing F string to work on every element in the lists
for name in lst:
    print(f"{name}, Thank you for coming to visit me in my home town")

Auwal, Thank you for coming to visit me in my home town
Habib, Thank you for coming to visit me in my home town
Maryam, Thank you for coming to visit me in my home town
Fatima, Thank you for coming to visit me in my home town
Zainab, Thank you for coming to visit me in my home town

In [19]:
# Doing something outside the block using print function
for name in lst:
    print(f"{name}, Thank you for coming to visit me in my home town")
print("Thank you every one, i am really greatful and i love all of you")

Auwal, Thank you for coming to visit me in my home town
Habib, Thank you for coming to visit me in my home town
Maryam, Thank you for coming to visit me in my home town
Fatima, Thank you for coming to visit me in my home town
Zainab, Thank you for coming to visit me in my home town
Thank you every one, i am really greatful and i love all of you

# ACCESSING A LIST

In [20]:
# Access a list
# len function
len(lst)

5

In [21]:
lst[2]

'Maryam'

# ORGANIZING LIST USING SORT METHOD

In [22]:
# Create a lists
lst1 = ['Ishaq', 'Muhammad', 'Ibrahim', 'Sufyan', 'Basirat']

In [23]:
# Using sort() method
# Copy the list
lst_copy = lst1.copy()

In [24]:
lst_copy

['Ishaq', 'Muhammad', 'Ibrahim', 'Sufyan', 'Basirat']

In [25]:
# Sorting in alphabetiacal order
lst_copy.sort()

In [26]:
lst_copy

['Basirat', 'Ibrahim', 'Ishaq', 'Muhammad', 'Sufyan']

In [27]:
# Sort temporarily
# sorted method
sorted(lst1)

['Basirat', 'Ibrahim', 'Ishaq', 'Muhammad', 'Sufyan']

In [28]:
lst1

['Ishaq', 'Muhammad', 'Ibrahim', 'Sufyan', 'Basirat']

In [29]:
# everse order
lst_copy

['Basirat', 'Ibrahim', 'Ishaq', 'Muhammad', 'Sufyan']

In [30]:
# Reverse order
lst_copy.sort(reverse=True)

In [31]:
lst_copy

['Sufyan', 'Muhammad', 'Ishaq', 'Ibrahim', 'Basirat']

In [32]:
# Reverse order temporarily
lst1

['Ishaq', 'Muhammad', 'Ibrahim', 'Sufyan', 'Basirat']

In [33]:
lst1

['Ishaq', 'Muhammad', 'Ibrahim', 'Sufyan', 'Basirat']

# SECOND DATA STRUCTURES (TUPLES)

In [34]:
# Creating a list
lst2 = [1, 2, 3, 4, 5, 5, 6, 7, 7, 8, 9, 10]

In [35]:
squares = [value ** 2 for value in range(2,20)]

In [36]:
print(squares)

[4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [37]:
type(squares)

list

In [38]:
# Tuple
squares_t = (4, 9, 8, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361)

In [39]:
type(squares_t)

tuple

In [40]:
# Inmutability of tuple

In [41]:
# Edit tuple
squares_t[2] = 16

TypeError: 'tuple' object does not support item assignment

In [42]:
# Loop through a tuple
for n in squares_t:
    print(n)

4
9
8
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

In [43]:
# But we can over write a tupl (e.g)
squares_t = (5, 7, 0, 33)

In [44]:
squares_t

(5, 7, 0, 33)

# THIRD DATA STRUCTURE (DICTIONARY)

In [45]:
# Creating a simple dictionary
user = {"name": "Habibu", "age": 30}

In [47]:
print(user ['name'])

Habibu

In [48]:
user

{'name': 'Habibu', 'age': 30}

In [49]:
# Add key-value pairs
user['job'] = 'Data analyst'

In [50]:
user

{'name': 'Habibu', 'age': 30, 'job': 'Data analyst'}

In [51]:
# Adding
user['position'] = 'Beginer'

In [52]:
user

{'name': 'Habibu', 'age': 30, 'job': 'Data analyst', 'position': 'Beginer'}

In [53]:
# modifying user dictionary
user['job'] = 'Data scientist'

In [54]:
user

{'name': 'Habibu', 'age': 30, 'job': 'Data scientist', 'position': 'Beginer'}

In [56]:
# Removing key-value pair
del user['position']

In [57]:
user

{'name': 'Habibu', 'age': 30, 'job': 'Data scientist'}

# LOOPING THROUGH A DICTIONARY#

In [58]:
 # Write a for loop for dict
for key, value in user.items():
    print(f"\nkey: {key}")
    print(f"value: {value}")

key: name
value: Habibu

key: age
value: 30

key: job
value: Data scientist

In [59]:
# Looping through keys
for key, value in user.items():
    print(f"\nkey: {key}")

key: name

key: age

key: job

In [60]:
#Looping through values
for key, value in user.items():
    print(f"value: {value}")

value: Habibu
value: 30
value: Data scientist

In [61]:
# Loop through using key as a method
for key in user.keys():
    print(key)

name
age
job

In [62]:
# Loop through using values as a method
for value in user.values():
    print(value)

Habibu
30
Data scientist

# IF STATEMENTS

In [63]:
# If statement
lst = ['String', True, 24]

In [64]:
for n in lst:
    if n == 24:
        print(n ** 2)
    else:
        print(n)

String
True
576

In [65]:
# A simple if statement
age = 20
if age >= 18:
    print('You are qualified to drive a car')

You are qualified to drive a car

In [66]:
# A simple if statement
age = 16
if age >= 18:
    print('You are qualified to drive a car')

In [67]:
# If - else
age = 9
if age >= 18:
    print('You are qualified to drive a car')
else:
    print('Not qualified to drive a car')

Not qualified to drive a car

In [68]:
# If - elif - else
if age < 5:
    print('Free school bag')
elif age < 10:
    print(50, 'percent of the amount is off')
else:
    print('You will pay full amount')

50 percent of the amount is off

In [69]:
# If - elif - else
age = 4
if age < 5:
    print('Free school bag')
elif age < 10:
    print(50, 'percent of the amount is off')
else:
    print('You will pay full amount')

Free school bag

In [70]:
# If - elif - else
age = 18
if age < 5:
    print('Free school bag')
elif age < 10:
    print(50, 'percent of the amount is off')
else:
    print('You will pay full amount')

You will pay full amount

In [71]:
# Multiple elif statement
age = 90
if age < 5:
    print('Free school bag')
elif age < 10:
    print(50, 'percent of the amount is off')
elif age >= 80:
    print('Your payment is half amount')
else:
    print('You will pay full amount')

Your payment is half amount

In [72]:
# Removing the else block
age = 79
if age < 5:
    print('Free school bag')
elif age < 10:
    print(50, 'percent of the amount is off')
elif age >= 80:
    print('Your payment is half amount')
elif age >= 45:
    print('You will pay full amount')

You will pay full amount

# CHECKING FOR SPECIAL ITEMS

In [73]:
# Create a job list
job_opening = ['Data scientist', 'Manager at Voost tech', 'Training provider', 'Data analyst', 'Driver at Voost tech']
for job_opening in job_opening:
    if job_opening == 'Driver at Voost tech':
        print('Sorry, that job is occupied' ".")
    else:
        print("We are hiring for a "  + job_opening + ".")
print('Thank you for visiting our site')

We are hiring for a Data scientist.
We are hiring for a Manager at Voost tech.
We are hiring for a Training provider.
We are hiring for a Data analyst.
Sorry, that job is occupied.
Thank you for visiting our site